

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  }

#header.header-scrolled,
#header.header-inner-pages {
  background: linear-gradient(45deg, rgba(14, 5, 70, 1) 0%, rgba(131, 3, 170, 1) 100%);
  padding: 12px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 5px;
  color:#fff;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #5846f9;
  background-color:#ffff;
  border-color: #fff;
}

.navbar .getstarted:before,
.navbar li:hover>.getstarted:before {
  visibility: hidden;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(248, 245, 245, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  color: #ffffff;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #ffffff;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(28, 47, 65, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #2c4964;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #5846f9;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #5846f9;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Section1 Section
--------------------------------------------------------------*/


#Section1 .container,
#Section1 .container-fluid {
  padding-top: 10%;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgba(14, 5, 70, 0.5) 0%, rgba(31, 7, 255, 0.5) 100%), url("/hero-bg2.jpg");
  background-size: cover;
}

#Section1 h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
}

#Section1 h2 {
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0 0 0;
  font-size: 15px;
}

#Section1 .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  border: 2px solid #fff;
}

#Section1 .btn-get-started:hover {
  background: #fff;
  color: #5846f9;
}

#Section1 .hero-img {
  text-align: center;
}

#Section1 .hero-img img {
  width: 70%;
}
#Section1 .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1200px) {
  #Section1 {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #Section1 {
    text-align: center;
  }

  #Section1 .container,
  #Section1 .container-fluid {
    padding-top: 30%;
  }

  #Section1 .animated {
    -webkit-animation: none;
    animation: none;
  }

  #Section1 .hero-img {
    text-align: center;
  }

  #Section1 .hero-img img {
    width: 50%;
    padding-bottom: 5%;
  }
}

@media (max-width: 768px) {
  #Section1 h1 {
    font-size: 26px;
    line-height: 36px;
  }

  #Section1 h2 {
    text-align: justify;
    font-size: 15px;
    line-height: 24px;
  }

  #Section1 .hero-img img {
    width: 60%;
    padding-bottom: 5%;
  }
}

@media (max-width: 575px) {
  #Section1 .hero-img img {
    width: 50%;
    padding-bottom: 2%;
  }
}

@media (max-width: 575px),
(max-height: 600px) {
  #Section1 {
    height: auto;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-top: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #5846f9;
  bottom: 0;
  left: calc(50% - 25px);
}



/*--------------------------------------------------------------
# Nosotros
--------------------------------------------------------------*/
#Section2 {
  padding: 120px 0;
}

#Section2 .content h3 {
  font-weight: 600;
  font-size: 32px;
  color: #2c4964;
}

#Section2 .content ul {
  list-style: none;
  padding: 0;
}

#Section2 .content ul li {
  padding-bottom: 10px;
}

#Section2 .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5846f9;
}
#Section2 .content p {
  text-align:justify;
}

#Section2 .content p:last-child {
  margin-bottom: 0;
  text-align:justify;
}

#Section2 .content .read-more {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 50px 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%);
  position: relative;
}

#Section2 .content .read-more:hover {
  background: linear-gradient(180deg, #5846f9 0%, #7b27d8 100%);
}

#Section2 .content .read-more i {
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 12px;
}
#Section2 .line {
  position: relative;
  width: 4vw;
  margin-left:0 ;
  margin-bottom:5% ;
  height: 0.3vw;
  margin-top: 0.5vw;
  background: #5846f9;
}


/*--------------------------------------------------------------
# Dapps General
--------------------------------------------------------------*/
#Section4 {
  padding: 100px 0;
  overflow: hidden;
  background-color: #f9f8ff;
}
#Section4 .container p {
  text-align:justify;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#Section5 .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
}

#Section5 .info-box i {
  font-size: 32px;
  color: #5846f9;
  border-radius: 50%;
  padding: 8px;
}

#Section5 .info-box h3 {
  font-size: 20px;
  color: #2c4964;
  font-weight: 700;
  margin: 10px 0;
}

#Section5 .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

#Section5 .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}

#Section5 .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#Section5 .php-email-form .error-message br+br {
  margin-top: 25px;
}

#Section5 .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#Section5 .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#Section5 .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#Section5 .php-email-form input,
#Section5 .php-email-form textarea {
  border-radius: 5px;
  box-shadow: none;
  font-size: 14px;
}

#Section5 .php-email-form input:focus,
#Section5 .php-email-form textarea:focus {
  border-color: #5846f9;
}

#Section5 .php-email-form input {
  padding: 10px 15px;
}

#Section5 .php-email-form textarea {
  padding: 12px 15px;
}

#Section5 .php-email-form button[type="submit"] {
  background: #5846f9;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

#Section5 .php-email-form button[type="submit"]:hover {
  background: #7b27d8;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  margin-top: 10%;
  font-size: 14px;
  background: linear-gradient(45deg, rgba(2, 2, 2, 0.9) 0%, rgba(3, 3, 3, 0.9) 100%), url("/hero-bg2.jpg") center center no-repeat;
  background-size: cover;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  position: relative;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact img {
  width: 70%;
  margin: -10% 0 30px 0;
  padding: 2px 0 2px 0;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: underline;
  color: #fff;
}
#footer .copyright-wrap {
  border-top: 1px solid #8577fb;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #fff;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
}


.Card {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  background: #fff;
  border: 1px solid #000;
}
.Card .heading {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  padding: 20px;
  text-transform: capitalize;
  border: none;
 }
  .Card .heading a {
  color: #000;
  text-decoration: none;
  border: none; }
.Card .Card-body {
  text-align: justify;
  padding: 30px;
  background-color: #0000; 
  border: none;}
  .Card .Card-body .des {
    text-align: justify;
    color: #5c7893;
    font-weight: 400; 
    border: none;}

  .Card .Card-body a
    {

    }
    
.Card > .thumbnail {
  overflow: hidden;
  position: relative;
  border: none;
  }
  

  .Card > .thumbnail img {
    width: 100%;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); 
    border: none;}
.Card:hover {
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05); }
  .Card:hover img {
    border: none;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
    /*---------------------------Landing----------------------------------- */
   #Landing{
    min-height: 100vh;
    position: relative;
    padding-top: 15%;  
    padding-right: 5%; 
    padding-left: 5%; 
   }
   #Landing h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
  }
  
  #Landing h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.8);;
    font-size: 25px;
  }
  #Landing h3 {
    text-align: Center;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);

    font-size: 20px;
  }
  
   video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -500;
   }
   .capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(14, 5, 70, 0.5) 0%, rgba(31, 7, 255, 0.5) 100%), url("../public/FondoLanding.png");
    background-size: cover;
    z-index: -400;
    pointer-events: none;
    cursor: none;
   }
   #Landing .info-box {
    text-align: center;
    color: #fff;
    padding: 20px 0 30px 0;
    background: transparent;
  }
  
  #Landing .info-box i {
    font-size: 32px;
    color: #ffffff;
    border-radius: 50%;
    padding: 8px;
  }
  
  #Landing .info-box h3 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin: 10px 0;
  }
  
  #Landing .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  #Landing .info-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    align-self: flex-end;
    padding: 30px;
    height: 100%;
    background: #fff;
    border-radius: 3%;
  }
  
  #Landing .info-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  #Landing .info-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  #Landing .info-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  #Landing .info-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  #Landing .info-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  #Landing .info-email-form input,
  #Landing .info-email-form textarea {
    border-radius: 5px;
    box-shadow: none;
    font-size: 14px;
    margin-top: 10%;
  }
  
  #Landing .info-email-form input:focus,
  #Landing .info-email-form textarea:focus {
    border-color: #5846f9;
  }
  
  #Landing .info-email-form input {
    padding: 10px 15px;
  }
  
  #Landing .info-email-form textarea {
    padding: 12px 15px;
  }
  
  #Landing .info-email-form button[type="submit"] {
    background: #5846f9;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
  }
  
  #Landing .info-email-form button[type="submit"]:hover {
    background: #7b27d8;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


  
  .container-box {
    position: relative;
  }
  .container-box a{
    text-align: justify;
    color: rgba(255, 255, 255, 0.8);
    margin: 10px 0 0 0;
    font-size: 20px;
  }
  .box{
    
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    opacity: 0;
    width: 100%;
    text-align: center;
    padding-right: 10%;
  }
  .b1{
    animation: ani1 40s infinite;
  }
  .b3{
    
    animation: ani3 40s infinite;
  }
  .b4{
    animation: ani4 40s infinite;
  }
  
@keyframes ani1{
  0%{
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  35%{
    opacity: 0;
  }

}
@keyframes ani3{
  25%{
    opacity: 0;
  }
  55%{
    opacity: 1;
  }
  75%{
    opacity: 0;
  }

}
@keyframes ani4{
  65%{
    opacity: 0;
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }

}

#header button{
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 5px;
  color:#fff;
  background: transparent;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
#header button:hover{
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 5px;
  color:#7b27d8;
  background: #fff;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
#site-header{
  padding: 12px 0;
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  position: absolute;
}
#site-header img{
  width: 50px;
  height: 50px; 

}
.partners {
margin-top: 45%;
width: 100%;

}
.partners h2 {
  margin-bottom: 5%;
  width: 100%;
  
  }

.partners img{
  width: 150px;
  height: min-content;

}
@media (max-width: 1200px) {
  .partners {
    margin-top: 65%;      
    }

}

@media (max-width: 991px) {
  .partners {
    margin-top: 120%;      
    }

}

   

   
    
